@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";


$gradient: linear-gradient(90deg, rgb(219, 230, 236) 25%, rgb(208, 234, 241) 65%,rgb(164, 188, 194) 85%, rgb(129, 168, 184) 95%);


/* $custom-color-gray: rgb(122, 29, 29);

$theme-colors: map-merge($theme-colors , ("custom-color-gray":$custom-color-gray)); */


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/root";




